# MongoDB Atlas Connection URI
# Replace <username>, <password>, and <cluster-url> with your MongoDB Atlas credentials
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/electric_ai?retryWrites=true&w=majority

# Database Name
DATABASE_NAME=electric_ai

# Flask Secret Key
SECRET_KEY=electric_ai_project

# Flask Debug Mode
DEBUG=False
