Flask==3.0.3
Flask-Cors==5.0.0
pymongo==4.8.0
dnspython==2.6.1
certifi==2024.8.30

opencv-python-headless==4.10.0.84

numpy==2.1.1
Pillow==10.4.0
python-dotenv==1.0.1
Werkzeug==3.0.4
gunicorn==22.0.0

--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.1+cpu
torchvision==0.20.1+cpu

easyocr==1.7.2
ultralytics==8.3.20