*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef4fb;
padding:40px;
}

.container{
display:flex;
justify-content:center;
}

.about-card{
width:900px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.logo{
width:90px;
display:block;
margin:auto;
margin-bottom:20px;
}

h1{
text-align:center;
color:#003366;
margin-bottom:25px;
}

h2{
color:#0d6efd;
margin-top:25px;
margin-bottom:15px;
}

p{
line-height:30px;
text-align:justify;
}

ul{
margin-left:25px;
line-height:35px;
}

.tech{
display:flex;
flex-wrap:wrap;
gap:15px;
margin-top:15px;
}

.tech span{
background:#0d6efd;
color:white;
padding:10px 20px;
border-radius:25px;
}

.back{
display:block;
margin-top:35px;
text-align:center;
text-decoration:none;
font-weight:bold;
color:#0d6efd;
}